/* Exercise 1 */

h1{
    text-align: center;
}

button{
    display: block;
    margin: 1rem;
    font-size: 2rem;
    padding: 10px;
    

}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    
}

#text-field{
    text-align: center;
}

.right, .not-right{
    color: red;
}

.not-right{
    text-decoration: underline;
}